
#main {
    width:600px;
    height:800px;
    border: solid thin firebrick;
    border-radius:10px;
    margin:auto;
}

#header {
    width: 100%;
    height:100px;
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 10px;
}

#header img {
    height:80px;
}

#nav {
    width:100%;
    height:40px;
    background-color: rosybrown;
    text-align:center;
}

ul {
    list-style: none;
    margin-top:0px;
    padding-top:10px;
}

li {
    display: inline;
    margin-right:25px;
   
}

a {
    text-decoration:none;
    font-family:arial;
    color:white;
}

#body{
    width:100%;
    height:535px;
    padding-top: 80px;
    padding-left:10px;
}
.box img {
    width: 120px;
    height: 100px;
    border-radius: 3px;
}

.box {
    width: 130px;
    height: 100px;
    padding: 2px;
    margin: 5px;
    border: solid thin rosybrown;
    float: left;
    text-align: center;
}

label {
    color: rosybrown;
    font-style: italic;
}

img:hover {
    opacity: .5;
}

a:hover {
    font-weight:bolder;
}

#footer {
    width:100%;
    height:25px;
    background: rosybrown;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius:0px;
    font-size: 10px;
    text-align: center;
}

